@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-Regular.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-Bold.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/NotoSans-Light.woff2') format('woff2'),
      url('./assets/fonts/NotoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



body, html {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
